@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
    box-sizing: border-box;
  
}

.div-circulo {
    clip-path: circle(50% at 50% 50%);
}

.glass {
    background: rgba(255, 255, 255, 0.01);
}

.borda-neon {
    color: #e0cece; /* Set text color to white */
    box-shadow: 0 0 10px #56f709, /* Neon green glow */
                 0 0 20px #56f709, /* Larger glow */
                 0 0 30px #56f709; /* Even larger glow */
}

/* 203b28 */

.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.escala-logo {
    transform: scale(0.3)
}

.escala {
    transform: scale(1.2)
}

.centralizar-absoluto {
    left: 50%;
    transform: translateX(-50%);
}

.formato-footer-div {
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}