@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
  
}

h1 {
    font-family: "Roboto", sans-serif;
}

h2, h3 {
    font-family: "IBM Plex Sans", sans-serif;
}

p, a {
    font-family: "Lato", sans-serif;

}

.div-circulo {
    clip-path: circle(50% at 50% 50%);
}

.glass {
    background: rgba(255, 255, 255, 0.01);
}

.borda-neon {
    color: #e0cece; /* Set text color to white */
    box-shadow: 0 0 10px #56f709, /* Neon green glow */
                 0 0 20px #56f709, /* Larger glow */
                 0 0 30px #56f709; /* Even larger glow */
}

/* 203b28 */

.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.escala-logo {
    transform: scale(0.3)
}

.escala {
    transform: scale(1.2)
}

@media (min-width: 1536px) and (max-width: 1599px) {
    .escala {
        transform: scale(1.0)
    }
}

@media (min-width: 1600px) and (max-width: 1699px) {
    .escala {
        transform: scale(1.1)
    }
}

@media (min-width: 1700px) {
    .escala {
        transform: scale(1.2)
    }
}

.centralizar-absoluto {
    left: 50%;
    transform: translateX(-50%);
}

.formato-footer-div {
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

.scrollMarker-forma {
    clip-path: circle(50% at 50% 50%);

}

.grid-valores {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a b"
    "c d";
}

.item-grid1 {
    grid-area: a;
}
  
.item-grid2 {
    grid-area: b;
}
  
.item-grid3 {
    grid-area: c;
}
  
.item-grid4 {
    grid-area: d;
}

.grid-responsivo-thumbs {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-responsivo-tags {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.fonte-padrao {
    font-family: initial;
}

